.header
  .header__logo
    グループを作成しました

.sidebar
  .sidebar-user
    .sidebar-user__logo
      test-user
    .sidebar-user__icon1
      = link_to do
        = fa_icon 'edit', class: 'icon'
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'
  .sidebar-group
    .sidebar-group__logo1
      test-group
    .sidebar-group__logo2
      さようなら
    .sidebar-group__logo3
      sample-group
    .sidebar-group__logo4
      hello!
    .sidebar-group__logo5
      example
    .sidebar-group__logo6
      まだメッセージはありません

.contents
  .contents-top
    .contents-top__logo1
      test-group
    .contents-top__box
      .contents-top__edit
        Edit
    .contents-top__logo2
      member-sample
  .contents__border
  .contents-under
    .contents-under__logo1
      test-user
    .contents-under__logo2
      こんにちは！
    .contents-under__logo3
      test-user
    .contents-under__logo4
      さようなら
  .footer
    .footer-box
      .footer-box__message
        type a message
      .footer-box__icon
        = fa_icon 'image'
    .footer-send__box
      .footer-bottan
        Send